.DS_Store
epub-modules/development/
epub-modules/epub-media-overlays/lib/
samples-project-testing/lib/
samples-project-testing/additional_samples/TBF
epub-modules/epub/out/
epub-modules/epub-cfi/out/
epub-modules/epub-renderer/out/
epub-modules/epub-fetch/out/
epub-modules/epub-ers/out/
epub-modules/simple-readium-js/out/

