<div class="flowing-wrapper clearfix">
    <iframe scrolling="no" 
            frameborder="0" 
            marginwidth="0" 
            marginheight="0" 
            width="50%" 
            height="100%" 
            title="{{ data.title }}"
            src="{{ uri }}"
            class="readium-flowing-content">
    </iframe>
    <div class="reflowing-spine-divider"></div>
</div>