.bookmark {
    width : 0;
    height : 0;
    border-left : 20px solid transparent;
    border-right : 20px solid transparent;
    border-top : 20px solid #f00;
    position : absolute;
    opacity : 0.5;
}

.highlight {
    width : 1000px;
    height : 25px;
    position : absolute;
    opacity : 0.2;
    top : 65px;
    left : 250px;
    background-color : #f00;
}

.highlight-test {
    /*opacity : 0.2;*/
    background-color : red;
}

.liftedHighlight  {
     width : 100px;
     height : 100px;
     border : 1px solid #000;
     background : #f00;
     transform : skew(-20deg);
     -o-transform : skew(-20deg);
     -moz-transform : skew(-20deg);
     -webkit-transform : skew(-20deg);
}